:root {
  --shadow: 0 2px 8px #0004;
}

* {
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 1px 2px #00000099;
}

html,
body {
  margin: 0;
}

body {
  color: #55c8ff;
  background-color: #222;
  position: absolute;
  left: 0;
  right: 0;
  top: 1em;
  bottom: 0;
  display: grid;
  justify-items: center;
  grid-gap: 1em;
  grid-template-rows: 3em 1fr;
  grid-template-columns: 0 1fr 0;
  grid-template-areas: '.. search-input ..'
                       '.. search-results ..';
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6em;
  background-image: linear-gradient(#222, #222, #222, transparent);
}

.search-input-container {
  width: calc(100% - 2em);
  max-width: 60em;
  /* grid-area: search-input; */
  display: grid;
  grid-template-columns: 2.5em 1fr 2.5em 2.5em 7em;
  align-items: center;
  text-align: center;
  margin: 1em auto;
  padding: 0;
  background-color: #333;
  box-shadow: var(--shadow);
}

.search-input-container * {
  background-color: #333;
  height: 3em;
}

.search-input-container i {
  user-select: none;
  max-width: 60em;
  display: grid;
  align-items: center;
}

.search-input-container select {
  position: relative;
  height: 3.6em;
  background-color: #333;
  color: #c3c3c3;
  border: none;
  margin: 0;
}

.search-input {
  overflow-y: auto;
  padding: 0.3em 0;
  outline: none;
  border: none;
  color: #c3c3c3;
  background-color: #333;
}

.search-result-container {
  width: 100%;
  grid-area: search-results;
  padding: 0;
  padding-top: .5em;
  max-width: 60em;
}

.search-result {
  /* Javascript toggles this */
  /*display: grid;*/
  display: none;

  padding: 1em 0.5em;
  margin: 1em 0;
  margin-top: 0;
  background-color: #333;
  box-shadow: var(--shadow);
  grid-template-columns: 1fr 6em 6em;
  grid-template-areas: 'title reddit play_count'
                       'description description description'
                       'tags tags tags';
}

.title {
  grid-area: title;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.play-count {
  grid-area: play_count;
  text-align: center;
  padding: 0 0.5em;
}

.gwa-link {
  grid-area: reddit;
  text-align: center;
  padding: 0 0.5em;
}

.play-count i {
  margin-right: 0.2em;
}

.description {
  grid-area: description;
  color: #c3c3c3;
  padding-top: 0.5em;
  word-wrap: break-word;
}

.tag-container {
  user-select: none;
  grid-area: tags;
  font-size: smaller;
  font-style: italic;
  color: #777;
  padding-top: 0.5em;
}

.tag {
  display: inline;
  cursor: pointer;
}

.tag:hover {
  text-decoration: underline;
}

a:link, a:active {
  color: #55c8ff;
}

a:visited {
  color: #ffc855;
}

a:hover {
  color: #ff55c8;
}

a:active {
  color: #55c8ff;
}
